<div>
  <!-- 説明 -->
  <div [hidden]="isCapturing">
    <h1>使い方</h1>
    <ol>
      <li>キャプチャしたいウィンドウ・画面を指定する。</li>
      <li>キャプチャ画像を主ボタンでクリックすると、その時点の画面との差分を表示する。</li>
      <li>キャプチャ画像をShift+主ボタンでクリックすると差分表示をやめる。</li>  
    </ol>
    <button (click)="onClickStartButton()">クリックしてキャプチャする画面を選択する</button>
    <p>備考: このページに表示されるキャプチャ画像は外部に送信されることはありません。
      あくまでデバイス内の映像をブラウザに表示するだけのツールです。
      ソースコードは<a href="">OstrichFarmLtd/samples/diff-view</a>を参照ください。
    </p>
  </div>

  <div (click)="onClickContainer($event)" [hidden]="!isCapturing">
    <!-- キャプチャ画像 -->
    <video
      #videoOutput
      [style.width.px]="width"
      [style.height.px]="height"
      (loadedmetadata)="onVideoUpdate($event)"
      (timeupdate)="onVideoUpdate($event)">
    </video>

    <!-- 差分画像 -->
    <img
      #overlay
      class="overlay"
      [hidden]="!imageUrl"
      [src]="imageUrl"
      [style.width.px]="width"
      [style.height.px]="height">
  </div>
</div>
